.todo-action{
    width: 700px;
    height: 50px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.add-todo {
    width: 150px;
    margin: auto;
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    cursor: pointer;
    color: white;

}
.add-todo-text {
    margin-right: 10px;
}
.add-todo-input {
    flex-grow: 1;
    margin-right: 20px;
    height: 50px;
 
}
.add-todo-input input {
    height: 100%;
    width: 100%;
    font-size: 20px;
    color: red;
    padding-left: 10px;
}