.header-row-content{
    height: 100px;
    margin: 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-text{
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: white;
}
.header-row{
    background-color:#c66cc8 ;
}
.add-icon, img{
    
   
}