.todo-list {
    width: 700px;
    margin: auto;
    margin-top: 50px;
    height: 400px;
    overflow-y: scroll;
}
.single-todo {
    background-color: hotpink;
    margin-top: 10px;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}
.single-todo input{
    height: 20px;
    width: 20px;
    border: 0px;
    margin-right: 10px;
}